<div class="box col-md-12" ng-controller="cap_nhat_thong_tin_ctrl as ctrl">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-plus"></i> Thêm bài viết</h2>
        </div>
        <div class="box-content">
            <form name="myForm" role="form" method="post" action="/bai-viet/create">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label for="TieuDe">Tiêu đề</label>
                            <input name="TieuDe" type="text" class="form-control" id="TieuDe" required='required'>
                        </div>
                        <div class="form-group">
                            <label for="TomTat">Tóm tắt</label><br/>
                            <textarea class="form-control" name="TomTat" id="TomTat" required='required'></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="TheLoai">Thể loại</label>
                            <select class="form-control" name="TheLoai" id="TheLoai">
                                <% @the_loais.each do |the_loai| %>
                                    <option value="<%= the_loai.id %>"><%= the_loai.ten_the_loai %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label for="NoiDung">Nội dung</label><br/>
                            <%= text_area_tag :NoiDung, "", :class => "tinymce", :rows => 20 %>
                            <%= tinymce %>
                        </div>
                    </div>
                </div>
                <div class="center-block">
                    <a href="/admin" class="btn btn-info"><i class="glyphicon glyphicon-chevron-left glyphicon-white"></i> Back</a>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>

            </form>
        </div>
    </div>
</div>
<%= tinymce_assets %>
