<!-- content -->
	<div class="content">
	<div class="container">
		<div class="content-text">	
			<div class="title">
			<% @bai_viets.each do |bai_viet| %>
				<div class="some-title">
					<h3><a href="/bai-viet/<%= bai_viet.id %>"><%= bai_viet.tieu_de %></a></h3>
				</div>
				<div class="john">
					<p><a href="/bai-viet/<%= bai_viet.id %>"><%= bai_viet.tai_khoan.username %></a><span><%= bai_viet.ngay_dang.strftime("%m/%d/%Y") %></span></p>
				</div>
				<div class="clearfix"> </div>
				<div class="tilte-grid">
					<a href="/bai-viet/<%= bai_viet.id %>"><%= image_tag bai_viet.hinh_anh, class: "img-responsive height_auto" %></a>
					<p class="vel"><a href="single.html"><%= bai_viet.tom_tat %>
					</a></p>
					<p class="Sed">
					<%= markdown(bai_viet.noi_dung[0..255]) %>...
					</p> 
				</div>
				<div class="read">
					<a href="/bai-viet/<%= bai_viet.id %>">Chi tiết</a>
				</div>
				<div class="border">
					
				</div>
			<% end %>
			<%= will_paginate @bai_viets %>
			</div>
			<%= render "shared/sidebar" %>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
<!-- //content -->

